/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f6f5;
  max-width: 367px;
  width: 100%;
  margin: 16px;
}

.text.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 16px;
  text-align: center;
  background-color: #f7f6f5;
}

.main-description {
  margin-top: 24px;
  margin-bottom: 32px;
  background-color: #f7f6f5;
}
.meeting image {
  width: 367px;
  height: 220px;
  object-fit: cover;
}
.profileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.profileImageCameroon {
  display: flex;
  align-items: center center;
  align-items: center;
}
