/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

 @font-face{
  src: url(fonts/LexendDeca-Regular.ttf);
  font-family: LexendDeca-Regular;

  }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f6f5;
  max-width: 367px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
 


.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 16px 16px;
  background-color: #f7f6f5;

}
.text-box h3 {
  font-size: 24px;
  color: #5468E7;
  font-family: LexendDeca-Regular;

}

.main-description {
  margin-top: 14px;
  margin-bottom: 23px;
  color: #232340;
   
}
.image{
  width: 367px;
  height: 220px;
  object-fit: cover;
}
.profile Image {
  width: 48px;
  height: 48px;
  
  
}
.profileImageCameroon {
  display: flex;
  align-items: center center;
  align-items: center;
  margin-right: 8px;
  
}
